$default: #1a4f8b;
$accent: #f14436;
$text-main: #fff;
$text-secondary: #b0b0b0;
$text-strong: #000;
$text-placeholder: #767676;
$input-border-void: #c3c3c3;
$input-border-hover: #7595b9;
$button-primary-hover: #7595b9;
$button-primary-active: #143f6f;
$button-secondary-hover: #f68e86;
$button-secondary-active: #c0362b;
